body {
    background-color: pink;
}



#border{
    background-color:lightskyblue;
    height: 500px;
    width: 800px;
    margin: 0 auto;
    border-radius: 100px;
    padding-top: 50px;
  }
  
  #screen{
    background-color:white;
    height: 450px;
    width: 700px;
    margin: 0 auto;
    border-radius: 50px;
  }
  
  #buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-right: 0px;  
  }
  
  #left-feed {
    margin-right: 0;
    background-color: white;
  }
  
  #middle-sleep {
    margin-right: 0;
    background-color: white;
  }

  #right-play {
      margin-left: 0;
      background-color:white;
  }
  
  .button {
    height: 100px;
    width: 100px;
    margin-top: 30px;
    list-style: none;
    border-radius: 100px;
  }




.imgContainer {
position: absolute;
top: 45%;
left: 45%;

}


.imgContainer img{
    animation:shake 0.5s;
    animation-iteration-count: infinite;

}


@keyframes shake{
    0% {transform: translate(1px , 1px) rotate (0 deg);}
    10% {transform: translate(-1px, -2px) rotate (-1deg);}
}





  #pet {
      
      width: 100px;
      height: 100px;
      
  }


  #toLeft {
    top: 45%;
    left: 40%;

  }


  #toRight {
      top: 45%;
      left: 50%;
    
  }